In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import matplotlib
import os

In [58]:
# Read in division files

accident_df_2019_enc = pd.read_csv('2019_east_north_central_division.csv')
accident_df_2019_esc = pd.read_csv('2019_east_south_central_division.csv')
accident_df_2019_xma = pd.read_csv('2019_middle_atlantic_division.csv')
accident_df_2019_xxm = pd.read_csv('2019_mountain_division.csv')
accident_df_2019_xne = pd.read_csv('2019_new_england_division.csv')
accident_df_2019_xxp = pd.read_csv('2019_pacific_division.csv')
accident_df_2019_xsa = pd.read_csv('2019_south_atlantic_division.csv')
accident_df_2019_wnc = pd.read_csv('2019_west_north_central_division.csv')
accident_df_2019_wsc = pd.read_csv('2019_west_south_central_division.csv')
#accident_df_2019_esc.head()

In [59]:
# merge all Dataframes
frames = [accident_df_2019_enc,accident_df_2019_esc,accident_df_2019_xma,accident_df_2019_xxm,accident_df_2019_xne,
         accident_df_2019_xxp,accident_df_2019_xsa,accident_df_2019_wnc,accident_df_2019_wsc]
accident_df_2019_ttl = pd.concat(frames)
accident_df_2019_ttl.head()

,Severity,Start_Lat,Start_Lng,Street,City,County,State,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
0,2,43.001680,-83.699140,I-69 W,Flint,Genesee,MI,70.0,70.0,87.0,29.11,10.0,3.0,0.0
1,2,39.882420,-86.221992,W 71st St,Indianapolis,Marion,IN,50.0,50.0,74.0,29.22,10.0,8.0,0.0
2,2,41.884491,-87.627922,N State St,Chicago,Cook,IL,37.0,27.0,96.0,29.79,9.0,18.4,0.0
3,3,39.748440,-86.264847,I-465 S,Indianapolis,Marion,IN,50.0,50.0,59.0,29.07,10.0,17.0,0.0
4,2,42.910770,-83.533691,Gale Rd,Goodrich,Genesee,MI,11.0,0.0,77.0,29.44,10.0,7.0,0.0

In [60]:
driver_stat = pd.read_csv('total_driver_age_state.csv')
driver_stat['State'] = driver_stat['State'].astype(str)
driver_stats = driver_stat.set_index('State')
driver_stats.head()

,State_Name,19_AND_UNDER,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85+,TOTAL
State,,,,,,,,,,,,,,,,,
AL,Alabama,213408,333472.0,335939,314507,296128,313505,311934,343653,335640,298346,258886,192166,139665,99936,94357,3881542.0
AK,Alaska,20663,47603.0,58952,57610,47746,44765,44269,50211,50400,42987,29957,18060,8390,5328,4803,531744.0
AZ,Arizona,167430,374266.0,426819,458010,444155,457768,438694,460403,435944,390701,298905,219140,147145,94082,68339,4881801.0
AR,Arkansas,82743,175551.0,179350,177402,168341,172246,170938,192724,185386,168330,150242,113943,79995,52933,41749,2111873.0
CA,California,865897,2313250.0,2418597,2355175,2140053,2219140,2288067,2412706,2235846,1866698,1462214,946222,605348,388461,295672,24813346.0

In [61]:
#driver_stats.dtypes

In [62]:
#accident_df_2019_enc.dtypes

In [63]:
accident_data_w_demo = accident_df_2019_ttl.join(driver_stats,on='State')
accident_data_w_demo.head()

,Severity,Start_Lat,Start_Lng,Street,City,County,State,Temperature(F),Wind_Chill(F),Humidity(%),...,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85+,TOTAL
0,2,43.001680,-83.699140,I-69 W,Flint,Genesee,MI,70.0,70.0,87.0,...,604598,674542,679346,597342,484780,345128,233936,159295,133136,7046433.0
1,2,39.882420,-86.221992,W 71st St,Indianapolis,Marion,IN,50.0,50.0,74.0,...,384708,427940,417023,358679,286148,202926,139146,90153,68992,4448099.0
2,2,41.884491,-87.627922,N State St,Chicago,Cook,IL,37.0,27.0,96.0,...,728317,795270,774972,665129,531449,376563,250368,124561,136146,8373565.0
3,3,39.748440,-86.264847,I-465 S,Indianapolis,Marion,IN,50.0,50.0,59.0,...,384708,427940,417023,358679,286148,202926,139146,90153,68992,4448099.0
4,2,42.910770,-83.533691,Gale Rd,Goodrich,Genesee,MI,11.0,0.0,77.0,...,604598,674542,679346,597342,484780,345128,233936,159295,133136,7046433.0

In [64]:
accident_data_count = accident_data_w_demo.groupby('State').count()

In [65]:
accident_data_sum = accident_data_w_demo.groupby('State').sum()

In [66]:
accident_data_mean = accident_data_w_demo.groupby('State').mean()

In [67]:
accident_data_merge = pd.merge(accident_data_count,accident_data_sum,on='State',suffixes=('_count','_sum'))
accident_data_merge.head()

,Severity_count,Start_Lat_count,Start_Lng_count,Street,City,County,Temperature(F)_count,Wind_Chill(F)_count,Humidity(%)_count,Pressure(in)_count,...,45-49_sum,50-54_sum,55-59_sum,60-64_sum,65-69_sum,70-74_sum,75-79_sum,80-84_sum,85+_sum,TOTAL_sum
State,,,,,,,,,,,,,,,,,,,,,
AL,3808,3808,3808,3808,3808,3808,3808,3808,3808,3808,...,1187844672,1308630624,1278117120,1136101568,985837888,731768128,531844320,380556288,359311456,1.478091e+10
AR,92,92,92,92,92,92,92,92,92,92,...,15726296,17730608,17055512,15486360,13822264,10482756,7359540,4869836,3840908,1.942923e+08
AZ,3107,3107,3107,3107,3107,3107,3107,3107,3107,3107,...,1363022258,1430472121,1354478008,1213908007,928697835,680867980,457179515,292312774,212329273,1.516776e+10
CA,7897,7897,7897,7897,7897,7897,7897,7897,7897,7897,...,18068865099,19053139282,17656475862,14741314106,11547103958,7472315134,4780433156,3067676517,2334921784,1.959510e+11
CO,2619,2619,2619,2619,2619,2619,2619,2619,2619,2619,...,874251009,960615153,946920402,828544221,654137154,382698756,256981518,181043613,185867811,1.017053e+10

In [68]:
accident_data_merge2 = accident_data_merge.join(accident_data_mean,on='State')
print(accident_data_merge2.columns)

Index(['Severity_count', 'Start_Lat_count', 'Start_Lng_count', 'Street',
       'City', 'County', 'Temperature(F)_count', 'Wind_Chill(F)_count',
       'Humidity(%)_count', 'Pressure(in)_count', 'Visibility(mi)_count',
       'Wind_Speed(mph)_count', 'Precipitation(in)_count', 'State_Name',
       '19_AND_UNDER_count', '20-24_count', '25-29_count', '30-34_count',
       '35-39_count', '40-44_count', '45-49_count', '50-54_count',
       '55-59_count', '60-64_count', '65-69_count', '70-74_count',
       '75-79_count', '80-84_count', '85+_count', 'TOTAL_count',
       'Severity_sum', 'Start_Lat_sum', 'Start_Lng_sum', 'Temperature(F)_sum',
       'Wind_Chill(F)_sum', 'Humidity(%)_sum', 'Pressure(in)_sum',
       'Visibility(mi)_sum', 'Wind_Speed(mph)_sum', 'Precipitation(in)_sum',
       '19_AND_UNDER_sum', '20-24_sum', '25-29_sum', '30-34_sum', '35-39_sum',
       '40-44_sum', '45-49_sum', '50-54_sum', '55-59_sum', '60-64_sum',
       '65-69_sum', '70-74_sum', '75-79_sum', '80-84_sum', '85+_sum',
       'TOTAL_sum', 'Severity', 'Start_Lat', 'Start_Lng', 'Temperature(F)',
       'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Speed(mph)', 'Precipitation(in)', '19_AND_UNDER', '20-24',
       '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
       '65-69', '70-74', '75-79', '80-84', '85+', 'TOTAL'],
      dtype='object')

In [69]:
column_1 = accident_data_merge2["Severity_sum"]
column_2 = accident_data_merge2["85+_sum"]
column_3 = accident_data_merge2["19_AND_UNDER_sum"]
column_4 = accident_data_merge2["Precipitation(in)"]
column_5 = accident_data_merge2["Temperature(F)"]
correlation_old = column_1.corr(column_2)
correlation_yng = column_1.corr(column_3)
correlation_pcp = column_1.corr(column_4)
correlation_tmp = column_1.corr(column_5)
print(correlation_old)
print(correlation_yng)
print(correlation_pcp)
print(correlation_tmp)

0.8215156256432203
0.7813577971153127
-0.2172672710561651
0.2117469349238813